p{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color:rgb(255, 30, 0);

}
.parrafotitulo{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: rgb(255, 230, 0);

}



