p{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color:aqua;

}
.parrafotitulo{
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
    color: magenta;

}